.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.slide-in-bottom {
  transform: translateY(20%);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.slide-in-bottom.appear {
  transform: translateY(0);
  opacity: 1;
}

.slide-in-left {
  transform: translateX(-10%);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.slide-in-right {
  transform: translateX(10%);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.slide-in-right.appear,
.slide-in-left.appear {
  transform: translateX(0);
  opacity: 1;
}
